    /* Section 1
	 * --------------------------------------- */

	 html {
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	  }

	 body {
		font-family: 'Poppins', sans-serif;
	}



	 #section1{

		/* Center and scale the image nicely */
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		color: #f7f6ed;

		text-shadow: 0 5px 15px rgba(10, 0, 0, 0.5);
	}
	#background-image-section-1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url(imgs/GettyImages_466729918.0.gif);
		filter: brightness(90%);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: -1;
		opacity:0.8;
	}

     #section1 h1{
		color: #ffffff;
	}
	#section1 p{
		color: #fbfbfb;
		-webkit-text-stroke-width: 1px;
  		-webkit-text-stroke-color: black;
		margin-top: 10%;
		margin-left: 20%;
		margin-right: 20%;

	}




	/* #section1 p:hover{
		color: #b0a4a4;
		color: rgba(255, 255, 255, 0.3);
		opacity:1;
	} */

	/* #section1 img{
		margin: 20px 0;
		opacity: 0.7;
	} */

	/* Section 2
	 * --------------------------------------- */

	 #section2{

		/* Center and scale the image nicely */
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		/* color: #f7f6ed; */

		/* text-shadow: 0 5px 15px rgba(10, 0, 0, 0.5); */
	}
	#background-image-section-2 {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url(imgs/bg4.jpg);
		filter: brightness(130%);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: -1;
		opacity:0.8;
	}


	 #first_graph
	 {
		 width:1000px;
		 height: 500px;
		 display: block;
		 margin: 40px auto;
		 padding-right: 100px;
		 text-align: left;

	 }

	 #containerGDP{
		 padding-right: 100px;
		 margin-right: 50px;
		 height: 500px; /* or a specific height */
		 display: block;
		 /* width: 1250px; */
		 margin: 20px auto;
		 text-align: left;

	 }

	#section2 h1,
	#section2 p{
		z-index: 3;
		color:black;
		width: 60%;
		align-items: center;
		margin-left:80px;


	}
	#section2 p{
		opacity: 0.8;

	}

	#section2 h1{
		align-items: center;
		font-size:70px;
		/* text-shadow: 0 5px 15px rgba(10, 0, 0, 0.5); */

	}
	#section2 #colors{
		right: 60px;
		bottom: 0;
		position: absolute;
		height: 413px;
		width: 258px;
		background-image: url(imgs/colors.gif);
		background-repeat: no-repeat;
	}

	/* Section 3
	 * --------------------------------------- */

	 #containerPopulation {
		padding-left: 100px;
		margin-left: 50px;
		height: 500px; /* or a specific height */
		display: block;
		/* width: 1250px; */
		margin: 20px auto;
		text-align: right;

	}
	#second_graph
	{
		width:1000px;
		height: 500px;
		display: block;
		margin: 40px auto;
		padding-right: 100px;
		text-align: left;

	}

	 #background-image-section-3 {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url(imgs/bg5.jpg);
		filter: brightness(150%);

		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: -1;
		opacity:0.8;
	}

	#background-image-section-4 {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url(imgs/bg6.jpg);
		filter: brightness(90%);

		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: -1;
		opacity:0.8;
	}



	#section3 #colors{
		left: 60px;
		bottom: 0;
	}
	#section3 p{
		opacity: 0.8;
	}

	#section3 h1,
	#section3 p{
		z-index: 3;
		color:black;
		width: 60%;
		align-items: center;
		margin-left:80px;
		text-shadow: 0 5px 15px rgba(10, 0, 0, 0.5);


	}
	#section3 p{
		opacity: 0.8;

	}

	#section3 h1{

		align-items: center;
		font-size:70px;
		/* text-shadow: 0 5px 15px rgba(10, 0, 0, 0.5); */

	}

	#populationyear,
	#population_slider
	{
		margin-left: 100px;
		align-items: center
	}

	#colors2,
	#colors3{
		position: absolute;
		height: 163px;
		width: 362px;
		z-index: 1;
		background-repeat: no-repeat;
		left: 0;
		margin: 0 auto;
		right: 0;
	}
	#colors2{
		background-image: url(imgs/colors2.gif);
		top:0;
	}
	#colors3{
		background-image: url(imgs/colors3.gif);
		bottom:0;
	}

	/* Section 4
	 * --------------------------------------- */
	#section4 p{
		opacity: 0.6;
	}

	/* Overwriting fullPage.js tooltip color
	* --------------------------------------- */
	#pp-nav.custom .pp-tooltip{
		color: #AAA;
	}
	#markup{
		display: block;
		width: 450px;
		margin: 20px auto;
		text-align: left;
	}

	/* Section 5
	 * --------------------------------------- */
	 #section5 p{
		opacity: 0.6;
	}

	#section5 h1{
		font-size: 60px;
	}





	#myVideo{
		position: absolute;
		z-index: 4;
		right: 0;
		bottom: 0;
		top:0;
		right:0;
		width: 100%;
		height: 100%;
		background-size: 100% 100%;
		background-color: black; /* in case the video doesn't fit the whole page*/
		filter: brightness(50%);
		background-position: center center;
		background-size: contain;
		object-fit: cover; /*cover video background */
		z-index: -1;
	}

	/* Layer with position absolute in order to have it over the video
	* --------------------------------------- */
	#section5 .layer{
		position: absolute;
		z-index: 5;
		width: 100%;
		left: 0;
		top: 43%;
		height: 100%;
	}

	/* #sect-texts
	{
		position: absolute;
		z-index: 5;
		width: 100%;
		left: 0;
		top: 43%;
		height: 100%;
	} */


	/* Section 6
	 * --------------------------------------- */
	 #section6 p{
		opacity: 0.6;
	}


	#background-image-section-6 {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url(imgs/bg7.jpg);
		filter: brightness(30%);

		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: -1;
		opacity:0.8;
	}

	#section-6-stacked-chart
	{
		width: 1000;
		margin: 20px;
		margin-left:50px;
		padding: 50px;

	}



	#section-6-line-chart {
		background-color: #684f4f;
		border-radius: 8px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		margin: 20px;
		padding: 20px;
	}



	/* Section 7
	 * --------------------------------------- */
	 #section7 p{
		opacity: 0.6;
	}


	#background-image-section-7 {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url(imgs/bg8.jpg);
		filter: brightness(30%);

		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: -1;
		opacity:0.8;
	}

	#section-7-stacked-chart
	{
		width: 1000;
		margin: 20px;
		margin-left:50px;
		padding: 50px;

	}



	#section-7-line-chart {
		background-color: #684f4f;
		border-radius: 8px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		margin: 20px;
		padding: 20px;
	}

